.books-container{
    background-image: url(../../../assets/imges/books-1163695_1280.jpg);
    background-size: cover;
    background-repeat: space;
}
h1{
    border-radius: 4px;
    background-color: #ffffff;
    color: black;   
    padding: 20px;
    display: block;
    width: 80%;
    margin-left: 10%;
    text-align: center;
}
button{
    border-radius: 4px;
    background-color: #ffffff;
    color: black;   
    padding: 20px;
    width: 30%;
    margin-left: 10%;
    text-align: center;
}
mat-form-field{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 4px;
    color: black;
    margin-bottom: 15px
}