mat-form-field{
    border-radius: 4px;
    background-color: #ffffff;
    display: block;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 15px;
    color: black;

}
button{
    
    display: block;
    margin: auto;
}