<form #formInfo="ngForm"> 
    <mat-form-field >
        <input matInput type="text"  #userNameInfo="ngModel"
         [(ngModel)]="userName" name="userName" required
      placeholder="User Name" >
 
    <mat-error  *ngIf="userNameInfo.errors?.required && userNameInfo.touched">
        User Name is <strong> required </strong>
    </mat-error >
  </mat-form-field>
    <button mat-raised-button
    (click)="userSingIn()" [disabled]="formInfo.form.invalid"
    routerLink="/search/{{userName}}"
    >LogIn </button>
  </form>